# Python environments
.venv/
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
htmlcov/
.pytest_cache/

# Jupyter / notebooks
.ipynb_checkpoints/

# IDE / editor
.vscode/
.idea/
*.swp

# macOS
.DS_Store

# Data caches
/data/raw/
/data/cache/
